body{
	margin: 0;
	background: url(../images/bg-body.png) #777777 no-repeat;
	background-size: cover;
}
*{
	box-sizing: border-box;
}
.wrapper{
	max-width: 800px;
	margin: 80px auto;
	box-shadow: 0 0 200px rgba(255, 255, 255, .8) ;
}
header{
	background: url(../images/bg-header.png) #777777 no-repeat;
	height:360px;
	
}
nav{
	background-color:rgba(190, 0, 0, 0.8);
	position:fixed;
	top: 0;	
	left: 0;
	right: 0;
}
nav::after{
	content: '';
	clear:both;
	display:table;
}
nav a {
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
nav a:hover{
	background-color: rgba(0, 0, 0, 0.8);
}
nav ul{
	list-style: none;
	padding: 0;
	margin: 0%;

}
nav>ul>li{
	float: left;
}
nav .has-submenu{
	position: relative;
}
nav .has-submenu::after{
	content: ' ▼ ';
	color: white;
	position: absolute;
	top: 23px;
	right: 10px;
}
nav .has-submenu>a{
	padding-right: 35px;

}
nav .has-submenu:hover .submenu{
	display: block;
}
nav .submenu{
	position:absolute;
	width: 220px;
	display: none;
}
nav .submenu a{
	background-color:rgba(190, 0, 0, 1);
	padding: 10px 20px;		
}

nav .submenu a:hover{
	background-color: black;
}

main{
	background-color: white;
	padding: 40px;
}
main p{
	line-height: 1.5;
}
main h1{
	margin-top: 0;
}
